name: Docker Build and Push to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GHCR_HOSTNAME: ghcr.io
  IMAGE_NAME: scraping-template # Replace with your desired image name

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required to push to GitHub Container Registry

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GHCR_HOSTNAME }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.GHCR_HOSTNAME }}/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ github.sha }},${{ env.GHCR_HOSTNAME }}/${{ github.repository }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Verify pushed image
        run: echo "Image pushed: ${{ steps.docker_build.outputs.digest }}"
